@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .background {
    @apply bg-[url('../images/bg-main-mobile.png')]
    sm:bg-[url('../images/bg-main-desktop.png')] bg-no-repeat bg-cover;
  }
  
  .image1 {
    @apply absolute -bottom-20 left-2 w-80 sm:bottom-[50%] sm:translate-x-10;
    z-index: 1;
  }
  
  .image2 {
    z-index: 1;
  }
  
  .input {
    @apply w-full border border-lightGP text-darkP rounded-lg h-12 px-3 py-4
    outline-none placeholder-lightGP mb-4 focus:border-darkP mr-5;
  }
  
  .h2 {
    @apply sm:absolute text-center translate-x-1.5 translate-y-24 text-2xl
    sm:translate-y-12 sm:bottom-[15%] sm:translate-x-5
  }
  .p {
    @apply sm:absolute text-left translate-x-2 translate-y-[8rem] text-lg
    sm:translate-y-10  sm:bottom-[10%] sm:translate-x-5
  }
  .p2 {
    @apply sm:absolute text-right -translate-x-4 translate-y-[8rem] text-lg
    sm:bottom-[10%] sm:translate-x-60 sm:translate-y-16 
  }
  
  .p3 {
     @apply sm:absolute text-right -translate-x-4 -translate-y-[12rem] text-sm text-white
     font-semibold sm:top-[50%] sm:translate-y-20 sm:-translate-x-20 sm:right-0
  }
  
  .error-message {
    @apply text-sm text-red-500 my-3
  }
}
